<div class="container mt-5 d-flex justify-content-center">
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1 class="text-center text-primary">Find your match</h1>
    <p class="lead ">Come on in to view your matches... all you need to do is sign in!</p>
    <hr>
    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex-form"
      (ngSubmit)="login()" autocomplete="off">

      <div class="d-flex p-2">
        <!-- <label for="username">UserName: </label> -->
        <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username">
      </div>
      <div class="d-flex p-2">
        <!-- <label for="password">Password:</label>  -->
        <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
          placeholder="Password">
      </div>
      <button class="btn btn btn-outline-primary mr-2"  style="margin-left: 5px;">Login</button>
    </form>
    <br><br>

    <div class="text-center" *ngIf="(accountService.currentUser$ | async) === null" autocomplete="off">
      <span>don't have an account ?</span>
      <button (click)="registerToggle()" class="btn btn-outline-success">Register</button>
      <!-- <button (click)="toggleLoginForm()" class="btn btn-info btn-lg m-lg-2">Learn more</button> -->

    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>