
.container{
    background-image: url('/assets/—Pngtree—vector mobile phone blind date_5394479.png');
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 650px;
}    