<div class="">
<div class="">
  <input type="text" placeholder=" What do you think??? ">
  <!-- <button type="button">
    <app-create-or-edi-newfeed [newfeed] = "newfeeds"></app-create-or-edi-newfeed>
  </button> -->
</div>

<div class="container" *ngFor="let newfeed of newfeeds">
  <div class="post">
      <div>
        <div class="head">
          <div class="posthead">
            <img class="img-circle rounded-circle mr-2" src="{{newfeed.creatorPhotoUrl || './assets/user.png'}}"
              alt="{{newfeed.creatorUserName}}">
            <span class="author">
              <strong>{{newfeed.creatorUserName | titlecase}}</strong>
              <div>{{newfeed.postedTime| timeago}}</div>
            </span>
          </div>
          <div class="postheadoptions">
            <span class="fa fa-ellipsis-h"></span>
            <div class="fa fa-times"></div>
          </div>
        </div>
      </div>
      <div class="content">
        <div> {{newfeed.content}}</div>
        <img src="./assets/user.png" alt="Sample Image">
      </div>
      <div class="actions">
        <button class="fa fa-thumbs-o-up"> Like</button>
        <button class="fa fa-comment-o"> Comment</button>
        <button class="fa fa-paper-plane-o"> Share</button>
        <button routerLink="/members/{{newfeed.creatorUserName}}" [queryParams]="{tab: 3}" class="fa fa-envelope-o"
          aria-hidden="true"> Message</button>
      </div>
  </div>
</div>
</div>