<div class="modal-header " style="background-color: rgb(247, 127, 106); color: #fff;">
    <h4 class="modal-title pull-left">Search for your Matches</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div style="height: 2px; background-color: darkred;"></div>
<div class="container mt-3" *ngIf="userParams">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="confirm()" autocomplete="off">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex mx-2">
                        <label class="col-form-label me">Age from: </label>
                        <input type="number" class="form-control ms-1" style="width: 110px" name="minAge"
                            [(ngModel)]="userParams.minAge">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex mx-2">
                        <label class="col-form-label me-3">Age to:</label><br>
                        <input type="number" class="form-control ms-1" style="width: 110px" name="maxAge"
                            [(ngModel)]="userParams.maxAge">
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex mx-2">
                        <label class="col-form-label " style="margin-right: 40px;">City: </label><br>
                        <input type="text" class="form-control ms-1" style="width: 110px" name="city"
                            [(ngModel)]="userParams.city">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex px-2">
                        <label class="col-form-label me-4" style="min-width: 50px;">Show: </label>
                        <select name="gender" style="width: 110px" class="form-select ms-1" [(ngModel)]="userParams.gender">
                            <option *ngFor="let gender of genderList" [value]="gender.value">
                                {{gender.display}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form> 
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success rounded-pill" (click)="confirm()">Apply<i class="fa fa-check" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-outline-danger rounded-pill" (click)="resetFilters()">Reset <i class="fa fa-trash" aria-hidden="true"></i> </button>
            </div>
        </div>
        </div>
</div>